* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2c2c32;
  --color-active: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
}
.navbar {
  position: absolute;
  right: 0;
  background-color: transparent;
  padding: 1rem 0;
  text-align: end;
}
.navbar > .nav-link {
  font-weight: 800;
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar > .nav-link:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.container {
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  /* padding-bottom: 1.5rem; */
}

main .nav-link {
  text-decoration: none;
  color: var(--color-bg);
}
main .nav-link:hover {
  text-decoration: underline;
}

.navbar > .active {
  font-size: 130%;
  color: #0085a1;
  cursor: default;
}

form {
  display: flex;
  justify-content: center;
}

form button,
button {  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

input[type='search'] {
  padding: 0.5rem 1rem;
}

.add-form {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.add-title {
  outline: none;
  border: none;
  border-bottom: 3px solid #222;
  background-color: transparent;
  color: #000;
  font-size: 20px;
  font-family: Courier, monospace;
  height: 28px;
  font-weight: bold;
  width: 220px;
}

.add-text {
  height: 500px;
  width: 600px;
  outline: none;
  overflow: hidden;
  background-color: #fff;
  color: #222;
  font-family: Courier, monospace;
  font-weight: normal;
  font-size: 24px;
  resize: none;
  line-height: 40px;
  padding-left: 100px;
  padding-right: 20px;
  padding-top: 45px;
  padding-bottom: 34px;
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
    url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat: repeat-y, repeat;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.add-button {
  cursor: pointer;
  margin-top: 20px;
  float: right;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-shadow: 0px -1px 0px #000000;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  background-color: #62add6;
}

.add-button:hover,
.add-button:active,
.add-button:focus {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.stack {
  height: 100vh;
  background-image: url("../img/notepad-g0314acffd_1280.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.login-form {
  display: grid;
  gap: 1rem;
}

.img {
  width: 100px;
}
.img-hero {
  background-size: cover;
  background-position: center;
  height: 400px;
}
.blog {
  background-image: url('../img/home-bg.jpg');
}
.home {
  height: 110vh;
  background-image: url('../img/spring-gfa9632ad0_1280.jpg');
}
.add {
  background-image: url('../img/journal-g6df4dbb83_1280.jpg');
}
.account {
  background-image: url('../img/about-bg.jpg');
}
.title-wrapper {
  padding: 150px 0;
  color: #fff;
  font-size: 24px;
}
.title-hero::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: #fff;
  margin: 15px auto;
}

.search-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.search-form input {
  border: none;

  border-radius: 5px;
}

.wrapper-posts-list {
  margin: auto;
  width: 70%;
}
.posts-list {
  list-style: none;
}
.posts-list a {
  text-decoration: none;
}
.post-title {
  font-size: 36px;
  text-align: center;
}
.post-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}
.post-link {
  display: block;
}
.post-link:hover,
.post-link:focus {
  /* color: #0085a1; */
}
.wrapper-post {
  color: #2c2c32;
}
.wrapper-post::after {
  content: '';
  display: block;
  /* width: 100px; */
  height: 2px;
  background-color: #eee;
  margin: 15px 15px;
}
.wrapper-post:focus,
.wrapper-post:hover {
  color: #0085a1;
}

.user-menu-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.user-menu-link:hover,
.user-menu-link:active {
  color: #0085a1;
}
.user-menu-link:focus {
  text-decoration: underline;
}

.user-menu-link {
  color: #000;
  text-decoration: none;
}

/* border: #0f7dc6 2px solid; */
footer {
  padding: 10px;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.image-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  /* border-radius: 50%;  */
  overflow: hidden;
}

.user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%;  */
}

.placeholder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%;  */
  background-color: #f1f1f1;
  /* Опціонально, можна додати текст або іконку на фоні, щоб вказати заглушку */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 18px;
}

.card {
  margin: auto;
  width: 300px;
  height: 400px;
  transition: all 0.2s;
  position: relative;
}

.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#71a1b4, #4155b9);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}




.main {
  margin-top: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #240046;
  max-height: 420px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/
.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login label {
  margin: 25% 0 5%;
}

label {
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}

/*Register*/
.register {
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(5%);
  transition: .8s ease-in-out;
}

.register label {
  color: #573b8a;
  transform: scale(.6);
}

#chk:checked ~ .register {
  transform: translateY(-60%);
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 10% 0 5%;
}

#chk:checked ~ .login label {
  transform: scale(.6);
  margin: 5% 0 5%;
}   
/*Button*/
.form button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

.form button:hover {
  background-color: #6d44b8;
}

.form, span{
  text-align: center;
  color: #fff;
}